
#loader {
    text-align: center;
}

.repository {
    border: 2px solid #ddd;
    padding: 5px;
    margin-bottom: 10px;
}


#pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.page-link {
    margin: 0 5px;
}

.inputFields{
    display: flex;
}

input{
    margin: 10px;
}
